.frame {
  width: 100vw;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background: linear-gradient(
    45deg,
    rgba(253, 162, 49, 1) 0%,
    rgba(251, 183, 49, 1) 60%,
    rgba(253, 202, 49, 1) 100%
  );
}